.podcasterSection {
  display: flex;
  justify-content: flex-start;
  border-bottom: solid #bec3c6 2px;
  padding: 20px 0 10px 20px;

  .titlePodcaster {
    color: #64889e;
  }
}

.podcastSection {
  display: grid;
  width: 100%;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding-bottom: 30px;
}
