.filterSection {
  color: #64889e;
  padding: 20px;
  display: flex;
  justify-content: flex-end;

  .podcastCounter {
    margin: 0px 5px 0px 5px;
    min-width: 50px;
    background-color: #64889e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    h3 {
      margin: 0px;
      color: white;
    }
  }

  .label {
    input {
      padding: 10px;
      height: 30px;
      border: solid 2px rgb(228, 228, 228);
      border-radius: 5px;
    }
  }
}
